@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.conference-image {
  width: 100vw;
}

.conference-text-container {
  text-align: center;
  padding: 20px;
}

.conference-title {
  color: #183b56;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 32px;
}

.conference-description {
  color: #5a7184;
  font-family: "Roboto";
  font-size: 16px;
  padding: 10px;
}

.conference-details-title {
  color: #183b56;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: bold;
}

.conference-details-description {
  color: #5a7184;
  font-family: "Roboto";
  font-size: 16px;
}

.conference-stats-container {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.conference-stats-count {
  color: #183b56;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: bold;
}

.conference-stats-label {
  color: #5a7184;
  font-family: "Roboto";
  font-size: 16px;
}
