@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: #3e4c59;
    font-family: "Roboto";
}

.portfolio-head {
    color: #cced00;
    font-size: 25px;
    font-weight: 600;
}

.project-head {
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.hotel-container {
    background-color: #323f4b;
    border-radius: 8px;
}

.image {
    width: 100%;
}

.sub-head {
    color: #9aa5b1;
    font-size: 17px;
}

.title {
    color: white;
    font-size: 30px;
}

.description {
    color: #9aa5b1;
    font-size: 20px;
}

.read-more {
    color: #cced00;
    font-weight: 600;
}