@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: #19232d;
    font-family: "Roboto";
}

.social-media-icon-container {
    background-color: #202b36;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    padding: 10px;
    margin: 5px;
}

.icon {
    color: #5a7184;
    font-size: 18px;
}

.text-address {
    font-size: 28px;
    color: #5a7184;
    font-weight: 400;
}

.contact-us {
    font-size: 30px;
    color: #5a7184;
    font-weight: 700;
}

.vr-list {
    list-style-type: none;
    padding-left: 0;
}

.hr-line {
    background-color: #5a7184;
}

.icon-copy {
    font-size: 30px;
}

.footer-text {
    color: #959ead;
    font-size: 25px;
}