@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: #1f2933;
    font-family: "Roboto";
}

.testimonials-head {
    color: #cced00;
    font-size: 30px;
    font-weight: 600;
}

.members {
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.testimonials-container {
    background-color: #323f4b;
    padding: 15px;
}

.image {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.testimonial-para {
    color: #9aa5b1;
    font-size: 18px;
}

.testimonial-about {
    color: white;
    font-size: 20px;
}