@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.music-bg-container {
  background-color: #03174c;
  height: 100vh;
}

.music-header-bg-container {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/moon-stars-bg.png");
  height: 40vh;
  background-size: cover;
  padding: 30px;
}

.music-heading {
  color: #ffffff;
  font-family: "Bree Serif";
  font-size: 28px;
}

.music-description {
  color: #ffffff;
  font-family: "Bree Serif";
  font-size: 14px;
}

.night-island-card {
  padding: 30px;
}

.night-island-bg-container {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/moon-bg.png");
  height: 23vh;
  background-size: cover;
  margin-bottom: 5px;
}

.night-island-card-heading {
  color: #ffe7bf;
  font-family: "Bree Serif";
  font-size: 32px;
}

.button {
  color: #ffffff;
  background-color: #8e97fd;
  font-family: "Bree Serif";
  font-size: 14px;
  width: 100px;
  height: 30px;
  border-width: 0px;
  border-radius: 38px;
}

.music-details-bg-container {
  background-color: #03174c;
}

.music-details-header-image {
  width: 100vw;
}

.music-details-container {
  padding: 20px;
}

.music-details-text {
  color: #98a1bd;
  font-family: "Bree Serif";
  font-size: 14px;
}

.related-music-heading {
  color: #ffffff;
  font-family: "Bree Serif";
  font-size: 18px;
}

.related-music-card {
  margin-right: 10px;
}

.related-music-image {
  width: 40vw;
  margin-bottom: 3px;
}

.related-music-name {
  color: #ffffff;
  font-family: "Bree Serif";
  font-size: 15px;
}
