@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
  height: 100vh;
  background-size: cover;
}

.order-card {
  background-color: #f6c56e;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 24px;
}

.order-card-title {
  color: #323f4b;
  font-family: "Bree Serif";
  font-size: 30px;
}

.order-card-description {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
}

.order-card-button {
  background-color: #ffffff;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  width: 120px;
  height: 38px;
  border-width: 0px;
  border-radius: 8px;
}
